<p>
  movie-list works!
</p>
<div class="container">
  <table class="table">
    <tr>
      <th>Title</th>
      <th>Overview</th>
      <th>Budget</th>
      <th>Release Date</th>
      <th>Rating</th>
      <th>Tagline</th>
      <th>Revenue</th>
    </tr>
    <tr *ngFor="let movie of movies">
      <td>{{movie.title}}</td>
      <td>{{movie.overview}}</td>
      <td>{{movie.budget}}</td>
      <td>{{movie.releaseDate}}</td>
      <td>{{movie.averageVote}}</td>
      <td>{{movie.tagline}}</td>
      <td>{{movie.revenue | currency}}</td>
    </tr>
  </table>

</div>
